.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: rgb(30, 52, 69);
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 4em;
}

.headerText {
  padding-left: 1em ;
}

.propertyinfoBoxContainer {
  display: flex;
  height: 200px;
  flex-direction: column;
  border-color:rgb(30, 52, 69);
  border-width: 1px;
  border-radius: 10;
  padding: 2em;
}

.propertyInfoBoxTextContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  font-size: x-small;
  justify-content: space-around;

}

.imageInPropertyInfoBox {
  width: 14em;
  align-self: center;
  margin: 1em;
}

.imageInCarouselContainer{
  width: 400px;
  height: 400px;
}


.container{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


